@inherits LayoutComponentBase

<MudThemeProvider @ref="@provider" @bind-IsDarkMode="@useDarkMode" />
<MudLayout>
    <MudAppBar Elevation="2">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="DrawerToggle" />
        <br/>
        <MudAvatar>
            <MudImage Src="Images/ChrisWiley.jpg" />
        </MudAvatar>
        <MudText Typo="Typo.h5" Class="ml-3">Chris Wiley - Junior QA Analyst</MudText>
        <MudSpacer />
        <MudLink Href="https://github.com/SithLord2K?tab=repositories" Target="_blank">
            <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Edge="Edge.End" />
        </MudLink>
        &nbsp;
        <MudLink Href="https://www.linkedin.com/in/chris-wiley-007b9585/" Target="_blank">
            <MudIconButton Icon="@Icons.Custom.Brands.LinkedIn" Edge="Edge.End" />
        </MudLink>
    </MudAppBar>
    <MudDrawer id="nav-drawer" @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2" Width="285px">
        <NavMenu />
    </MudDrawer>
    <MudMainContent Class="pt-16 pa-4" Style="margin-top: 25px; margin-bottom: 30px;">
        @Body
    </MudMainContent>
    <MudAppBar Bottom="true" Elevation="2" Dense="true">
        <MudSpacer />
        <MudText Typo="Typo.caption" Class="text-center">
            &copy; @DateTime.Now.Year WileySoftware
        </MudText>
        <MudDivider DividerType="DividerType.Inset" />
        &nbsp;
        <MudText Typo="Typo.caption" Align="Align.Center">Site created with Blazor, using C# and the</MudText>
        &nbsp
        <MudIcon Icon="@Icons.Custom.Brands.MudBlazor" />
        <MudText Typo="Typo.caption">udBlazor Compenent Library</MudText>
        <MudSpacer />
    </MudAppBar>
</MudLayout>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {

    private bool _drawerOpen = true;

    private bool useDarkMode;
    private MudThemeProvider provider = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    private void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            useDarkMode = await provider.GetSystemDarkModeAsync();
            await provider.WatchSystemDarkModeAsync(OnSystemPreferenceChanged);
            StateHasChanged();
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task OnSystemPreferenceChanged(bool newValue)
    {
        useDarkMode = newValue;
        StateHasChanged();
        await Task.CompletedTask;
    }
}


